body {
    padding: 0;
    margin: 0;
    background-color: azure;
}


.hidden {
    display: none;
}

#viewHighScore {
    float: left;
}
#timerDisplay {
     float: right;
}

.choice-container {
    width: 100%;
    margin-top: 100px;
}



.h1 {
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    
}
